.page-block-built-for {
	padding: 40px 0 64px 0;
	position: relative;
	&:before {
		background: url('data:image/svg+xml,<svg width="1128" height="1128" viewBox="0 0 1128 1128" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_227_620)" filter="url(%23filter0_f_227_620)"><path d="M630.47 636.8H469.043L469.344 676.365" fill="url(%23paint0_linear_227_620)"/><path d="M575.078 928L658.957 722.261L630.47 636.8L540.261 818.8L575.078 928Z" fill="url(%23paint1_linear_227_620)"/><path d="M559.521 662.486L445.383 548.348L417.625 576.55" fill="url(%23paint2_linear_227_620)"/><path d="M314.454 829.214L519.244 743.056L559.521 662.486L367.044 727.389L314.454 829.214Z" fill="url(%23paint3_linear_227_620)"/><path d="M491.2 630.47V469.043L451.635 469.344" fill="url(%23paint4_linear_227_620)"/><path d="M200 575.078L405.739 658.957L491.2 630.47L309.2 540.261L200 575.078Z" fill="url(%23paint5_linear_227_620)"/><path d="M465.514 559.521L579.652 445.383L551.45 417.625" fill="url(%23paint6_linear_227_620)"/><path d="M298.786 314.454L384.944 519.244L465.514 559.521L400.611 367.044L298.786 314.454Z" fill="url(%23paint7_linear_227_620)"/><path d="M497.53 491.2H658.957L658.656 451.635" fill="url(%23paint8_linear_227_620)"/><path d="M552.922 200L469.043 405.739L497.53 491.2L587.739 309.2L552.922 200Z" fill="url(%23paint9_linear_227_620)"/><path d="M568.479 465.514L682.616 579.652L710.375 551.45" fill="url(%23paint10_linear_227_620)"/><path d="M813.545 298.786L608.756 384.944L568.479 465.514L760.955 400.611L813.545 298.786Z" fill="url(%23paint11_linear_227_620)"/><path d="M636.8 497.53V658.956L676.365 658.656" fill="url(%23paint12_linear_227_620)"/><path d="M928 552.922L722.261 469.043L636.8 497.53L818.8 587.739L928 552.922Z" fill="url(%23paint13_linear_227_620)"/><path d="M662.486 568.479L548.348 682.617L576.55 710.375" fill="url(%23paint14_linear_227_620)"/><path d="M829.214 813.546L743.056 608.756L662.486 568.479L727.388 760.956L829.214 813.546Z" fill="url(%23paint15_linear_227_620)"/></g><defs><filter id="filter0_f_227_620" x="0" y="0" width="1128" height="1128" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/><feGaussianBlur stdDeviation="100" result="effect1_foregroundBlur_227_620"/></filter><linearGradient id="paint0_linear_227_620" x1="549.757" y1="636.8" x2="549.757" y2="676.365" gradientUnits="userSpaceOnUse"><stop stop-color="%23EC4899"/><stop offset="1" stop-color="%239333EA" stop-opacity="0.26"/></linearGradient><linearGradient id="paint1_linear_227_620" x1="599.609" y1="636.8" x2="599.609" y2="928" gradientUnits="userSpaceOnUse"><stop stop-color="%23EC4899"/><stop offset="1" stop-color="%239333EA" stop-opacity="0.26"/></linearGradient><linearGradient id="paint2_linear_227_620" x1="488.573" y1="548.348" x2="488.573" y2="662.486" gradientUnits="userSpaceOnUse"><stop stop-color="%23EC4899"/><stop offset="1" stop-color="%239333EA" stop-opacity="0.26"/></linearGradient><linearGradient id="paint3_linear_227_620" x1="436.988" y1="662.486" x2="436.988" y2="829.214" gradientUnits="userSpaceOnUse"><stop stop-color="%23EC4899"/><stop offset="1" stop-color="%239333EA" stop-opacity="0.26"/></linearGradient><linearGradient id="paint4_linear_227_620" x1="471.417" y1="469.043" x2="471.417" y2="630.47" gradientUnits="userSpaceOnUse"><stop stop-color="%23EC4899"/><stop offset="1" stop-color="%239333EA" stop-opacity="0.26"/></linearGradient><linearGradient id="paint5_linear_227_620" x1="345.6" y1="540.261" x2="345.6" y2="658.957" gradientUnits="userSpaceOnUse"><stop stop-color="%23EC4899"/><stop offset="1" stop-color="%239333EA" stop-opacity="0.26"/></linearGradient><linearGradient id="paint6_linear_227_620" x1="522.583" y1="417.625" x2="522.583" y2="559.521" gradientUnits="userSpaceOnUse"><stop stop-color="%23EC4899"/><stop offset="1" stop-color="%239333EA" stop-opacity="0.26"/></linearGradient><linearGradient id="paint7_linear_227_620" x1="382.15" y1="314.454" x2="382.15" y2="559.521" gradientUnits="userSpaceOnUse"><stop stop-color="%23EC4899"/><stop offset="1" stop-color="%239333EA" stop-opacity="0.26"/></linearGradient><linearGradient id="paint8_linear_227_620" x1="578.243" y1="451.635" x2="578.243" y2="491.2" gradientUnits="userSpaceOnUse"><stop stop-color="%23EC4899"/><stop offset="1" stop-color="%239333EA" stop-opacity="0.26"/></linearGradient><linearGradient id="paint9_linear_227_620" x1="528.391" y1="200" x2="528.391" y2="491.2" gradientUnits="userSpaceOnUse"><stop stop-color="%23EC4899"/><stop offset="1" stop-color="%239333EA" stop-opacity="0.26"/></linearGradient><linearGradient id="paint10_linear_227_620" x1="639.427" y1="465.514" x2="639.427" y2="579.652" gradientUnits="userSpaceOnUse"><stop stop-color="%23EC4899"/><stop offset="1" stop-color="%239333EA" stop-opacity="0.26"/></linearGradient><linearGradient id="paint11_linear_227_620" x1="691.012" y1="298.786" x2="691.012" y2="465.514" gradientUnits="userSpaceOnUse"><stop stop-color="%23EC4899"/><stop offset="1" stop-color="%239333EA" stop-opacity="0.26"/></linearGradient><linearGradient id="paint12_linear_227_620" x1="656.583" y1="497.53" x2="656.583" y2="658.956" gradientUnits="userSpaceOnUse"><stop stop-color="%23EC4899"/><stop offset="1" stop-color="%239333EA" stop-opacity="0.26"/></linearGradient><linearGradient id="paint13_linear_227_620" x1="782.4" y1="469.043" x2="782.4" y2="587.739" gradientUnits="userSpaceOnUse"><stop stop-color="%23EC4899"/><stop offset="1" stop-color="%239333EA" stop-opacity="0.26"/></linearGradient><linearGradient id="paint14_linear_227_620" x1="605.417" y1="568.479" x2="605.417" y2="710.375" gradientUnits="userSpaceOnUse"><stop stop-color="%23EC4899"/><stop offset="1" stop-color="%239333EA" stop-opacity="0.26"/></linearGradient><linearGradient id="paint15_linear_227_620" x1="745.85" y1="568.479" x2="745.85" y2="813.546" gradientUnits="userSpaceOnUse"><stop stop-color="%23EC4899"/><stop offset="1" stop-color="%239333EA" stop-opacity="0.26"/></linearGradient><clipPath id="clip0_227_620"><rect width="728" height="728" fill="white" transform="translate(200 200)"/></clipPath></defs></svg>') no-repeat;
		width: 1128px;
		height: 1128px;
		position: absolute;
		content: '';
		bottom: -254px;
		right: -266px;
		z-index: 0;
		display: block;
		filter: blur(100px);
	}	
	.container {
		z-index: 1;
	}
	h2 {
		background: linear-gradient(93deg, var(--color-white-solid, #FFF) 0%, var(--color-rose-60, #EC4899) 100%);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		font-size: 30px;
		line-height: 44px;
		margin: 0 0 32px 0;
		font-weight: 700;
		text-align: center;
	}
	.built-for {
		display: grid;
		row-gap: 24px;
	}
	.built-for-card {
		display: flex;
		flex-direction: column;
		row-gap: 8px;
		align-self: stretch;
		border-radius: 24px;
		border: var(--stroke-weight-1, 1px) solid rgba(255, 255, 255, 0.20);
		background: rgba(255, 255, 255, 0.08);
		box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.30);
		backdrop-filter: blur(20px);
		padding: 24px;
		.built-for-card-icon {
			width: 50px;
			height: 50px;
			border-radius: 10px;
			border: 1px solid rgba(251, 125, 187, 0.44);
			line-height: 50px;
			text-align: center;
			font-size: 24px;
			display: block;
			margin: 0 0 8px 0;
		}
		h3 {
			font-size: 18px;
			line-height: 28px;
			color: #FFF;
			font-weight: 600;
		}
		p {
			font-size: 15px;
			line-height: 22px;
		}
	}
	.buttons {
		padding: 45px 0 0 0;
		display: flex;
		justify-content: center;
	}
}

@media all and (max-width: 1023px) and (min-width: 0px) {
	.page-block-built-for {
		&:before {
			width: 600px;
			height: 600px;
			background-size: 600px 600px;
			right: -164px;
			bottom: -100px;
			filter: blur(50px);
		}
	}
}

@media all and (min-width: 1024px) {
	.page-block-built-for {
		padding: 80px 0 80px 0;
		h2 {
			font-size: 40px;
			line-height: 64px;
			margin: 0 0 64px 0;
		}
		.built-for {
			column-gap: 24px;
			row-gap: 24px;
			grid-template-columns: repeat(14, 1fr);
			.built-for-card {
				&.built-for-card-third {
					grid-column: span 5;
				}
				&.built-for-card-two-thirds {
					grid-column: span 9;
				}
				&.built-for-card-half {
					grid-column: span 7;
				}
			}
		}
		.built-for-card {
			padding: 33px;
			h3 {
				font-size: 20px;
				line-height: 32px;
			}
			p {
				font-size: 16px;
				line-height: 24px;
			}
		}
	}
}