.button {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	cursor: pointer;
	border: none;
	display: flex;
	height: 58px;
	padding: 16px 32px;
	border-radius: 50px;
	color: #FFF;
	font-weight: 600;
	transition: $transition;
	justify-content: center;
	background: linear-gradient(106deg, #9333EA 0%, #EC4899 100%);
	&.button-full {
		display: block;
		width: 100%;
	}

	span:not([class]) {
		position: relative;
		z-index: 1;
		transition: color .3s, background .3s;
		line-height: 24px;
		font-size: 17.6px;
		display: flex;
		align-items: center;
		justify-content: center;
		column-gap: 8px;
	}

	&:hover,
	&:active,
	&:focus {
		background: linear-gradient(106deg, var(--color-violet-56, #9333EA) 0%, var(--color-rose-60, #EC4899) 100%);
		box-shadow: 0 15px 35px 0 rgba(147, 51, 234, 0.40);
		color: #FFF;
	}

	&.button-secondary {
		background: rgba(255, 255, 255, 0.10);
		backdrop-filter: blur(10px);
		border: var(--stroke-weight-1, 1px) solid rgba(255, 255, 255, 0.20);
		&:hover,
		&:active,
		&:focus {
			border: var(--stroke-weight-1, 1px) solid var(--color-white-20, rgba(255, 255, 255, 0.20));
			background: var(--color-white-20, rgba(255, 255, 255, 0.20));
			backdrop-filter: blur(10px);
			box-shadow: none;
		}
	}

}