// Colours
$body-color: #A0A0A0;
$text-color: #A0A0A0;
$heading-color: #FFF;

// Fonts
$text-font: 'Manrope', Helvetica, Arial, sans-serif;
$heading-font: 'Manrope', Helvetica, Arial, sans-serif;
$text-bold-weight: 700;
$text-semi-bold-weight: 600;
$text-font-size: 20px;

// Sizes
$container-width: 1142px;

// General
$transition: 0.3s ease-in-out;